@font-face {
  font-family: 'MuseoSansCyrlLight';
  src: url('../fonts/MuseoSansCyrl-300.otf');
  src: url('../fonts/MuseoSansCyrl-300?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrlLightItalic';
  src: url('../fonts/MuseoSansCyrl-300Italic.otf');
  src: url('../fonts/MuseoSansCyrl-300Italic?#iefix')
      format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSansCyrlBold';
  src: url('../fonts/MuseoSansCyrl-700.otf');
  src: url('../fonts/MuseoSansCyrl-700?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrlBoldItalic';
  src: url('../fonts/MuseoSansCyrl-700Italic.otf');
  src: url('../fonts/MuseoSansCyrl-700Italic?#iefix')
      format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
