/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  font-family: 'MuseoSansCyrlLight';
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

/*=====Mobile version=====*/

.wrapper {
  height: 100vh;
  background: #dc4405;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.logo {
  margin: 0 auto;
  padding: 8px;
  max-width: 280px;
  border-radius: 50px;
  background-color: #fff;
  margin-bottom: 16px;
}
.logo-img {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}
.title-header {
  margin: 0 auto;
  max-width: 260px;
  font-family: 'MuseoSansCyrlBold';
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
}
.links-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.link-item {
  margin: 0 auto;
  padding: 8px 0;
  width: 100%;
  max-width: 250px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.5);
}
.link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.link-item:hover {
  background-color: #1f1e1e;
}
.link-item:hover .link {
  color: #fff;
}
.title-footer {
  font-family: 'MuseoSansCyrlBold';
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}
.contacts {
  text-align: center;
  margin: 0 auto 24px;
}
.contacts-link {
  font-family: 'MuseoSansCyrlBlack';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.03em;
  color: #fff;
}
.contacts-link:hover {
  color: #000;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon {
  width: 24px;
  height: 24px;
  fill: #dc4405;
}
.social-link:hover {
  background-color: #000;
}

@font-face {
  font-family: 'MuseoSansCyrlLight';
  src: url('../fonts/MuseoSansCyrl-300.otf');
  src: url('../fonts/MuseoSansCyrl-300?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrlBold';
  src: url('../fonts/MuseoSansCyrl-700.otf');
  src: url('../fonts/MuseoSansCyrl-700?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrlBlack';
  src: url('../fonts/MuseoSansCyrl-900.otf');
  src: url('../fonts/MuseoSansCyrl-900?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*=====Tablet version=====*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .logo {
    padding: 16px;
    max-width: 460px;
    margin-bottom: 32px;
  }
  .logo-img {
    max-width: 440px;
  }
  .title-header {
    max-width: 460px;
    font-size: 28px;
    margin-bottom: 72px;
  }
  .links-list {
    gap: 32px;
    margin-bottom: 72px;
  }
  .link-item {
    padding: 8px 0;
    max-width: 380px;
    border-radius: 50px;
  }
  .link {
    font-size: 24px;
  }
  .title-footer {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .contacts {
    margin: 0 auto 48px;
  }
  .contacts-link {
    font-size: 26px;
  }
  .social-list {
    padding: 0 122px;
  }
  .social-item {
    width: 60px;
    height: 60px;
  }
  .social-icon {
    width: 32px;
    height: 32px;
  }
}

/*=====Desktop version=====*/
@media screen and (min-width: 1158px) {
}
